<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SFCEcho_ViewFactory</string>
	<key>CFBundleIdentifier</key>
	<string>com.VeMa.audiounit.SFCEcho</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>NSMainNibFile</key>
	<string>SFCEcho_UIView</string>
	<key>NSPrincipalClass</key>
	<string>SFCEcho_ViewFactory</string>
</dict>
</plist>
